.smallDiv {
    width:calc(90%/12);
    height:80%;
    border: 2px solid #ab3f3f;
    border-radius: 5px;
    margin-top:0.7vh;
    margin-right:0.4vw;
    float: left;
    overflow-wrap: break-word;
    display:table;
    align-content: center;
}

.smallDiv:hover{
    background:#d1baa5;
    transition: ease-in-out 0.2s;
    border: 2px solid #d1baa5;
    border-radius: 5px;
    opacity: 1;
}

.show{
    background:#ab3f3f;
    transition: ease-in-out 0.2s;
    border: 2px solid #ab3f3f;
    border-radius: 5px;
    opacity: 1;
}
/* 
.clear{
    border: 2px solid #ab3f3f;
    border-radius: 5px;
    background-color: black;
} */


.smallDiv:hover h2{
   color:#ab3f3f;
   transition: ease-in-out 0.2s;
   opacity: 1;
}

.smallDiv h2{
    font-family: 'Montserrat', sans-serif;
    color:#d1baa5 ;
    font-size:1rem ;
    font-weight:600;
    text-align: center;
    margin-top:2vh;
    line-height: 150%;
}


h3{
    font-family: 'Montserrat', sans-serif;
    color:#ab3f3f ;
    font-size:0.79rem;
    font-weight:600;
    text-align: center;
    line-height: 150%;
}


@media all and (max-width: 699px) {


    .smallDiv {
        width:calc(100%/6.5);
        height:60%;
        border: 2px solid #ab3f3f;
        border-radius: 5px;
        float: left;
        overflow-wrap: break-word;
        display:table;
        align-content: center;
    }


    .smallDiv h2{
        font-family: 'Montserrat', sans-serif;
        color:#d1baa5 ;
        font-size:0.4rem ;
        font-weight:600;
        text-align: center;
        line-height: 150%;
    }

    
}